.class {
    display: none;
}

table, tr, td {
    display: none;
}

table tr td {
    display: none;
}

a + #my-link-id > #myOtherLinkId {
    display: none;
    color: red;
}

a:hover {
    color: FFF;
}

a > b > c {
    display: none;
}

* {
    display: block;
}

a [href] {
    display: block;
}

a [href="foo.html"] {
    display: block;
}

.tfx-btn-add {
    background-image: url('../images/drop-add.gif') !important;
}